<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
</head>
<body>
<div th:insert="navbar :: navbar"></div>
<h1>Comment</h1>

<div>
    <div>
        <a th:href="@{/foodtrucks}">List Food Trucks</a>
    </div>
    <div>
        <a th:href="@{/foodtrucks/{truckProfileId}/comment/add(truckProfileId=${truckProfile.getTruckid()})}">Add Comment</a></a>
    </div>
    <div>
        <a th:href="@{/}">Back to Index</a>
    </div>
</div>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th> Name </th>
            <th> Comment </th>
        </tr>
        <tr th:each="comments : ${comment}">
            <td><span th:text="${comments.user.getFirstName()}"></span></td>
            <td><span th:text="${comments.userComment}" th:rows="4" th:size="50" ></span></td>

        </tr>
    </table>
</div>
<br/><br/>
<div>
</div>
</body>
</html>